<ion-header>
  <ion-toolbar color="purple">
    <ion-buttons start>
      <button ion-button icon-only color="light" navPop>
        <ion-icon name="arrow-back"></ion-icon>
      </button>
    </ion-buttons>
    <ion-title>{{chat.title}}</ion-title>
    <ion-buttons end>
      <button ion-button icon-only color="light" (click)="goToChatMembers()">
        <ion-icon name="people"></ion-icon>
      </button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content padding>
  <messages-list-component [chatId]="chatId"></messages-list-component>
</ion-content>
<ion-footer>
  <message-input-component *ngIf="chat" [chatId]="chatId"></message-input-component>
</ion-footer>
