<ion-header>
  <ion-toolbar color="purple">
    <ion-buttons start>
      <button ion-button icon-only color="light" navPop>
        <ion-icon name="arrow-back"></ion-icon>
      </button>
    </ion-buttons>
    <ion-title>{{chat.title}}</ion-title>
    <ion-buttons end>
      <button ion-button color="light" (click)="addUsers()">
        Add
      </button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content padding>
  <ion-list>
    <button ion-item no-lines *ngFor="let user of users | async" [color]="user.selected ? 'purple' : 'dark-grey'" (click)="toggleSelectUser(user)">
      <ion-avatar item-start>
        <img src="assets/imgs/avatar.png">
      </ion-avatar>
			<h5 ion-text color="light">{{user.name}}</h5>
    </button>
  </ion-list>
</ion-content>
