profile-component {
  .content-ios, .content-md {
    background-color: #343a40 !important;
  }
  .fixed-content {
    background-color: #343a40 !important;
  }
  .input {
    background-color: #fff;
    border-radius: 4px;
  }
}
