<ion-header>
  <ion-toolbar color="purple">
    <ion-buttons start>
      <button ion-button icon-only color="light" navPop>
        <ion-icon name="arrow-back"></ion-icon>
      </button>
    </ion-buttons>
    <ion-title>Account</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content padding>
  <form [formGroup]="newPasswordForm" #formDir="ngForm">
    <ion-list>
      <ion-item>
        <ion-label color="light" stacked>Password</ion-label>
        <ion-input type="password" placeholder="*********" formControlName="password"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label color="light" stacked>Repeat Password</ion-label>
        <ion-input type="password" placeholder="*********" formControlName="newPassword"></ion-input>
      </ion-item>
    </ion-list>
    <button ion-button type="submit" color="purple" (click)="changePassword()">Save</button>
    <button ion-button color="purple" navPop>Cancle</button>
  </form>
</ion-content>
