<ion-header>
  <ion-toolbar color="purple">
    <ion-buttons start>
      <button ion-button icon-only color="light" navPop>
        <ion-icon name="arrow-back"></ion-icon>
      </button>
    </ion-buttons>
    <ion-title>Profile</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content padding>
  <ion-avatar (click)="selectAvatar()">
    <img *ngIf="!picture" src="assets/imgs/avatar.png">
    <img *ngIf="picture" [src]="picture">
  </ion-avatar>
  <form [formGroup]="usernameForm" #formDir="ngForm" padding-top>
    <ion-list>
      <ion-item>
        <ion-label color="light" stacked>Username</ion-label>
        <ion-input type="text" color="light" formControlName="username" placeholder="Username" value="{{usernameForm.get('username').value}}"></ion-input>
      </ion-item>
    </ion-list>
    <button ion-button type="submit" color="purple" (click)="changeUsername()">Save</button>
    <button ion-button color="purple" navPop>Cancle</button>
  </form>
</ion-content>
