<ion-header>
  <ion-toolbar color="purple">
    <ion-buttons start>
      <button ion-button icon-only color="light" menuToggle>
        <ion-icon name="menu"></ion-icon>
      </button>
    </ion-buttons>
    <ion-title>Simple Chat</ion-title>
    <ion-buttons end>
      <button ion-button icon-only color="light" (click)="goToNewChat()">
        <ion-icon name="add"></ion-icon>
      </button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content padding>
  <chats-list-component></chats-list-component>
</ion-content>
